// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Mixin to calculate Fontsize in 'rem'
/// @author @top_webdesign
/// @group Fonts
/// @param {length} $size - Fontsize int with px
/// @example
///   @include font-size(14px)
///   Output: font-size: 14px; //Will be overridden if browser supports rem
///   font-size: 0.8rem;
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/// Mixin to add font weight
/// @author @top_webdesign
/// @group Fonts
/// @param {string} $weight - weight as String
/// @example
///   @include font-weight('thin')
///   Output: font-weight: 100;
@mixin font-weight($weight) {
  @if $weight == 'thin' {
    font-weight: 100;
  }
  @if $weight == 'normal' {
    font-weight: 300;
  }
  @if $weight == 'medium' {
    font-weight: 500;
  }
  @if $weight == 'bold' {
    font-weight: 700;
  }
  @if $weight == 'black' {
    font-weight: 900;
  }
}
