// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Debug variable
/// @type bool
$debug-local: false !default;



/// Regular font family
/// @type List
$font-stack-normal: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Highlight font family
/// @type List
$font-stack-serif: 'Lucida Grande', Helvetica, Arial, sans-serif;




/// Color map
/// @prop {String} keys - Keys are identifiers mapped to a given name
/// @prop {Map} values - Values are actual color hex code or rgb(a) function
$colors: (
  /// Color White
  /// @group Colors
  /// @type Color
        'color-definition__white': #ffffff,
  /// Color Black
  /// @group Colors
  /// @type Color
        'color-definition__black': #000,
  /// Color Orange
  /// @group Colors
  /// @type Color
        'color-definition__orange': #ed6a12,
  /// Color Green
  /// @group Colors
  /// @type Color
        'color-definition__green': #00ae96,
  /// Color Gray
  /// @group Colors
  /// @type Color
        'color-definition__gray': #666
) !default;

/// Main brand color
/// @type Color
/// @group Colors
$color-cd-orange: map-get($colors, color-definition__orange);

/// Secondary brand color
/// @type Color
/// @group Colors
$color-cd-black: map-get($colors, color-definition__black);

/// Copy text color
/// @type Color
/// @group Colors
$color-text: $color-cd-black !default;

/// Site Background Color
/// @type Color
/// @group Colors
$color-background: map-get($colors, color-definition__white) !default;

/// Color Primary
/// @group Colors
$color-primary: $color-cd-orange;

/// Color Highlight
/// @group Colors
$color-highlight: map-get($colors, color-definition__green);





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
